.slider-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  @include box-shadow(#888 0px 4px 6px);
  margin-bottom: 20px;


  .slider-background {
    position: relative;
    background: url("../images/slider/slide_willkommen.jpg") #b0c4de center no-repeat;
    background-size: cover;
    height: 500px;

  }
  .slider-nav {

    ul {
      margin: 0;
      width: 100%;
      display: flex;

      li {
        list-style: none;
        display: inline-block;
        padding: 1em;
        flex-grow: 1;
        border-right: 1px solid $grey;

        &:last-of-type {
          border-right: none;
        }

        a {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
