/* line 5, ../scss/modules/_base.scss */
body {
  font-family: Verdana, sans-serif;
  background: #ecf0f1;
}

/* line 10, ../scss/modules/_base.scss */
main {
  padding: 1em;
}

/* line 14, ../scss/modules/_base.scss */
footer {
  display: block;
}

/* line 18, ../scss/modules/_base.scss */
a {
  text-decoration: none;
  color: #0f0f0f;
}

/* line 23, ../scss/modules/_base.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 28, ../scss/modules/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 31, ../scss/modules/_base.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 35, ../scss/modules/_base.scss */
.card {
  background: #ffffff;
  border-top: 10px solid #459b34;
}

/* line 1, ../scss/modules/_content.scss */
.content {
  display: flex;
}
/* line 3, ../scss/modules/_content.scss */
.content .news {
  float: left;
  flex-grow: 2;
  margin-right: 1em;
}
/* line 8, ../scss/modules/_content.scss */
.content .news .card {
  padding: 1em;
}
/* line 13, ../scss/modules/_content.scss */
.content .dates {
  float: left;
  flex-grow: 1;
}
/* line 17, ../scss/modules/_content.scss */
.content .dates .card {
  padding: 1em;
}

/* line 1, ../scss/modules/_header.scss */
.page-logo {
  background: #459b34;
  padding: 20px;
  margin: 0 auto;
}
/* line 6, ../scss/modules/_header.scss */
.page-logo img {
  width: 335px;
}

/* line 11, ../scss/modules/_header.scss */
.main-navigation {
  position: relative;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: #888 0px 4px 6px;
  -webkit-box-shadow: #888 0px 4px 6px;
  box-shadow: #888 0px 4px 6px;
}
/* line 19, ../scss/modules/_header.scss */
.main-navigation ul {
  display: flex;
  background: #ffffff;
  margin: 0 auto;
  padding: 1em;
}
/* line 26, ../scss/modules/_header.scss */
.main-navigation ul li {
  display: inline-block;
  position: relative;
  list-style: none;
  border-right: 2px solid black;
  flex-grow: 1;
}
/* line 33, ../scss/modules/_header.scss */
.main-navigation ul li:last-of-type {
  border: none;
}
/* line 37, ../scss/modules/_header.scss */
.main-navigation ul li a {
  text-decoration: none;
  font-size: 22px;
}
/* line 41, ../scss/modules/_header.scss */
.main-navigation ul li a:hover {
  color: #459b34;
}
/* line 48, ../scss/modules/_header.scss */
.main-navigation ul li .header-buttons img {
  height: 22px;
}
/* line 53, ../scss/modules/_header.scss */
.main-navigation ul li ul {
  display: none;
}
/* line 58, ../scss/modules/_header.scss */
.main-navigation ul li:hover ul {
  display: flex;
  position: absolute;
}
/* line 62, ../scss/modules/_header.scss */
.main-navigation ul li:hover ul li {
  display: block;
  text-align: left;
  border: none;
  flex-grow: 0.5;
}

/* line 75, ../scss/modules/_header.scss */
.main-navigation--fixed {
  position: fixed;
  top: 0;
}

/* line 1, ../scss/modules/_footer.scss */
.main-footer {
  position: relative;
  background: #459b34;
  width: 100%;
}
/* line 6, ../scss/modules/_footer.scss */
.main-footer ul {
  float: left;
  margin: 0;
  padding: 1em;
}
/* line 11, ../scss/modules/_footer.scss */
.main-footer ul li {
  position: relative;
  list-style: none;
  border-right: 2px solid black;
  width: 20%;
}
/* line 17, ../scss/modules/_footer.scss */
.main-footer ul li a {
  color: #ffffff;
}
/* line 23, ../scss/modules/_footer.scss */
.main-footer img {
  float: left;
  width: 100px;
}

/* line 1, ../scss/modules/_slider.scss */
.slider-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  -moz-box-shadow: #888 0px 4px 6px;
  -webkit-box-shadow: #888 0px 4px 6px;
  box-shadow: #888 0px 4px 6px;
  margin-bottom: 20px;
}
/* line 9, ../scss/modules/_slider.scss */
.slider-wrapper .slider-background {
  position: relative;
  background: url("../images/slider/slide_willkommen.jpg") #b0c4de center no-repeat;
  background-size: cover;
  height: 500px;
}
/* line 18, ../scss/modules/_slider.scss */
.slider-wrapper .slider-nav ul {
  margin: 0;
  width: 100%;
  display: flex;
}
/* line 23, ../scss/modules/_slider.scss */
.slider-wrapper .slider-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 1em;
  flex-grow: 1;
  border-right: 1px solid #ecf0f1;
}
/* line 30, ../scss/modules/_slider.scss */
.slider-wrapper .slider-nav ul li:last-of-type {
  border-right: none;
}
/* line 34, ../scss/modules/_slider.scss */
.slider-wrapper .slider-nav ul li a {
  font-size: 20px;
  font-weight: bold;
}
